# Base URL of the application under test
CYPRESS_BASE_URL=https://automationintesting.online

# API URL (usually BASE_URL + /api)
CYPRESS_API_URL=https://automationintesting.online/api

# Admin credentials
CYPRESS_ADMIN_USER=admin
CYPRESS_ADMIN_PASSWORD=password
